{% extends 'reminder_app/base_template.html' %}


{% block content %}
<h1>{{ account.name }}</h1>


<p><strong>Email:</strong> {{ account.email }}</p>
<p><strong>About:</strong> {{ account.about }}</p>

<h2>{{ account.name }}'s Reminders</h2>
{% if user.account.id == account.id %}
<a class="btn btn-primary" href="{% url 'create_reminder' account.id %}" role="button">New</a>
{% endif %}

{% if account_reminders %}
<ul class="list-group">
    {% for reminder in account_reminders %}
    {% if reminder.account.id == account.id %}
    <li class="list-group-item bg-black text-white">
        {{ reminder.title }}:
            <a class="btn btn-primary" href="{{ reminder.get_absolute_url }}" role="button">View</a>
            {% if user.account.id == account.id %}
            <a class="btn btn-info" href="{% url 'update_reminder' reminder.account.id reminder.id %}" role="button">Update</a>
            <a class="btn btn-danger" href="{% url 'delete_reminder' reminder.account.id reminder.id %}" role="button">Delete</a>
            {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
    <p>No reminders at this time.</p>
{% endif %}

{% endblock %}